:root {
    --SJTU-red-light: #f398ae;
    --HKUST-blue-light: #c1c6cb;
    --HKUST-yellow-light: #000000;
    --body-font: #212529;
    --heading: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 110%;
    color: var(--body-font);
    -webkit-font-smoothing: antialiased;
}

#body {
    width: 85vw;
    /*margin-right: 5vw;*/
    -webkit-font-smoothing: antialiased;
    margin-left: 8vw;
    line-height: 1.8;
}

.section {
    width: 85vw;
    margin-left: 0vw;
    padding: 10px;
    margin-bottom: 4px;
}

button {
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

a.inner-link {
    color: #802697;
    transition: color 0.3s ease-in-out;
}

a.inner-link:hover {
    color: #cd002f;
}

p {
    width: 95%; /* 设置宽度为85% */
    margin: 0 auto; /* 上下边距为0，左右边距自动，实现居中 */
    line-height: 180%;
    font-size: 16px;
    /*text-align: left;  !* 文字对齐设置为左对齐 *!*/
}

.section ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

h1 {
    color: var(--heading);
}

h2 {
    color: var(--heading);
}

h3 {
    color: var(--heading);
}

.text-center {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.text-center .btn-container {
    font-weight: bold;
}

.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* 防止换行 */
}

/*.btn-switch {*/
/*    border: 2px solid #000000; !* 设置边框样式 *!*/
/*    border-radius: 5px;*/
/*}*/

.task-filter-selector {
    border: 1px solid #000000; /* 设置边框样式 */
    border-radius: 4px;
    margin-right: 50px;
}

.metric-filter-selector {
    border: 1px solid #000000; /* 设置边框样式 */
    border-radius: 4px;
    margin-left: 60px;
}

.btn-switch .btn-container {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-switch .btn-container:hover {
    background-color: #f0f0f0;
    color: #333;
}

.btn-switch .btn-container.active {
    background-color: #AEB1B6FF;
    color: white;
}

.btn-container {
    padding: 8px 15px;
    border: none; /* 移除边框 */
    border-radius: 2px;
    background-color: #ffffff; /* 修改背景颜色为蓝色，可根据需要调整 */
    color: #6e6e6e; /* 修改文字颜色为白色 */
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.btn-container:disabled {
    color: #6c757d;
    cursor: not-allowed;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: none; /* 禁用悬停时的过渡效果 */
}

/* 去除按钮之间的间隔 */
.btn-group .btn-container + .btn-container {
    margin-left: 0;
}

.left-right-panel {
    display: flex;
    justify-content: flex-start;
}

#content-left {
    margin-top: 8vh;
    max-width: 35%;
}

.content-center {
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.chart-container, .line-graph-container {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.radar-chart-container {
    /*flex: 1; !* 使图表和分析区域平分空间 *!*/
    /*padding: 20px; !* 或根据需要调整 *!*/
    width: 520px;
    height: auto;
}

.panel {
    margin-top: 2vh;
    display: flex; /* 启用 Flexbox 布局 */
    flex-direction: column; /* 子元素垂直排列 */
    justify-content: center; /* 沿主轴（此处为垂直）居中子元素 */
    align-items: center; /* 沿交叉轴（此处为水平）居中子元素 */
    text-align: center; /* 文本居中，对非 flex 子元素有效 */
}

.top-menu {
    width: 88%; /* 设置容器宽度 */
    margin-left: 15px;
    display: flex; /* 启用 Flexbox 布局 */
    justify-content: flex-start; /* 子元素从容器开始处排列 */
    align-items: center; /* 子元素在交叉轴方向（此处为垂直）居中 */
    position: relative; /* 设置相对定位，为绝对定位的子元素提供参考 */
}

.bottom-panel {
    width: 70%; /* 父元素的 55% */
    height: auto;
    box-sizing: border-box; /* 边框和内边距包含在宽度内 */
    /*padding: 0; !* 根据需要调整内边距 *!*/
    padding: 0 1.4em 0 0;
    margin: 0; /* 确保没有外边距影响布局 */
    /* 其他样式 */
}

.btn-sub-group {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
}

.task-filter-selector-for-rewards {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-right: 50px;
    margin-left: 60px;
}

.sub-task-filter-selector-for-rewards {
    border: 1px solid #000000;
    border-radius: 4px;
}

.top-menu .btn-group,
.top-menu .btn-sub-group {
    justify-content: center;
    padding-left: 0.6vh; /* 例如，设置15px的左内边距 */
}

#rewardChart {
    display: block;
    box-sizing: border-box; /* 边框和内边距包含在宽度内 */
    width: 100%; /* 填满父元素的宽度 */
    height: auto; /* 高度自适应 */
    margin-top: 2vh;
}

.panel .btn-container {
    font-weight: bold;
}

.top-menu-long {
    width: 85%; /* 设置容器宽度 */
    display: flex; /* 启用 Flexbox 布局 */
    justify-content: flex-start; /* 子元素从容器开始处排列 */
    align-items: center; /* 子元素在交叉轴方向（此处为垂直）居中 */
    position: relative; /* 设置相对定位，为绝对定位的子元素提供参考 */
}

.charts-panel {
    display: flex; /* 使用Flexbox布局 */
    width: 95%;
    height: 50vh;
    justify-content: space-between; /* 在两个子元素之间留出等距空间 */
    margin-bottom: 20vh;
}

.left-chart-panel, .right-chart-panel {
    flex: 1; /* 让两个子元素占据相等的空间 */
    padding: 6px; /* 添加一些内边距 */
}

.left-chart-panel .canvas-container,
.right-chart-panel .canvas-container {
    height: 0; /* 初始高度设置为0 */
    padding-bottom: 50%; /* 根据比例设置padding-bottom来控制高度 */
    overflow: hidden; /* 隐藏溢出部分 */
}

.left-chart-panel canvas,
.right-chart-panel canvas {
    top: 0;
    left: 0;
    width: 100% !important; /* 宽度填满父容器 */
    height: 80%; /* 高度填满父容器 */
}

.task-filter-selector-for-difficulty {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-left: 3vh;
}

.charts-panel .sort-by-button {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

#difficulty_acc_Chart,
#difficulty_score_Chart {
    margin-top: 4vh;
}


#sidebar {
    position: fixed;
    /*left: -150px;*/
    top: 50%;
    transform: translateY(-50%);
    background-color: #c1c6cb;
    padding: 3px;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
}

#sidebar a {
    display: block;
    font-size: 12px;
    color: white;
    padding: 6px;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #000000;
}

#sidebar-toggle {
    display: block;
    position: fixed; /* 使用fixed而不是absolute，确保它相对于视口定位 */
    left: 0; /* 或者其他合适的位置 */
    top: 50%;
    transform: translateY(-50%);
    background-color: #c1c6cb; /* 临时背景色，帮助识别元素位置 */
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 1001; /* 确保它在其他元素之上 */
}

